<div class="container">

   <kendo-grid  [kendoGridBinding]="data" 
                [pageSize]="10" 
                [pageable]="true" 
                [skip]="0"
                [sortable]="true"
                [filterable]="true"
                [height]="500" 
                [selectable]="true"
                [reorderable]="true"
                [resizable]="true"
                [columnMenu]="{ filter: true }"
                >
    
    <kendo-grid-checkbox-column  [showSelectAll]="true" [width]="2" [resizable]="false" [columnMenu]="false" ></kendo-grid-checkbox-column>
    
    <kendo-grid-column field="userId" title="User Id" [width]="10" [resizable]="true"></kendo-grid-column>
    <kendo-grid-column field="id" title="Id" [width]="10" [resizable]="true"></kendo-grid-column>
    <kendo-grid-column field="title" title="Title" [width]="30" [resizable]="true"></kendo-grid-column>
    <kendo-grid-column field="completed" title="Active" filter="boolean" [width]="10" [resizable]="true">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" kendoCheckBox [checked]="dataItem.completed" disabled/>
      </ng-template>
    </kendo-grid-column>

 
  </kendo-grid> 

  
</div>